In [1]:
import pandas as pd
import numpy as np

In [3]:
from os.path import join

# Load DataFrames

In [2]:
PATH = "/Users/rdora/Downloads/"

In [4]:
nodes = pd.read_csv(join(PATH, "osm_nodes.csv"))
ways = pd.read_csv(join(PATH, "osm_ways.csv"))

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
# remove NA values in refs
ways = ways[~ways.ref.isna()]
ways['ref'] = ways.ref.astype('int')

In [ ]:
nodes = pd.merge(nodes, ways, how="left",
                right_on="id")

In [10]:
nodes.head()

   type         id         lon        lat  version  visible tag_key tag_value
0  node  269701904 -100.251138  25.731145        4     True     NaN       NaN
1  node  269701905 -100.254961  25.728632        3     True     NaN       NaN
2  node  269701906 -100.259171  25.725525        3     True     NaN       NaN
3  node  286524810 -100.306874  25.671168        2     True     NaN       NaN
4  node  286524814 -100.306482  25.671143        2     True     NaN       NaN

In [11]:
ways.head()

  type        id  version visible  tag_key tag_value         ref
0  way  26440964     18.0    True  highway  tertiary  1678707721
1  way  26440964     18.0    True  highway  tertiary  1283533743
2  way  26440964     18.0    True  highway  tertiary   289739483
3  way  26440964     18.0    True  highway  tertiary   289994641
4  way  26440964     18.0    True  highway  tertiary   290248436